# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Large datasets
data/raw/
data/processed/marineguard/images/
data/processed/marineguard/labels/
data/processed/fls/labels/
data/processed_v2/

# Dataset image/archive files
*.jpg
*.jpeg
*.png
*.bmp
*.rar
*.zip

# Ultralytics caches
*.cache

# Training outputs
runs/*
!runs/marineguard_full_512_b16-2/
!runs/marineguard_full_512_b16-2/weights/
!runs/marineguard_full_512_b16-2/weights/best.pt
!runs/marineguard_v2_final/
!runs/marineguard_v2_final/weights/
!runs/marineguard_v2_final/weights/best.pt

# Model/export files
*.pt
!runs/marineguard_full_512_b16-2/weights/best.pt
!runs/marineguard_v2_final/weights/best.pt
*.onnx

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
